@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+HR+Lijeva:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}



body{
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('images/ocean.jpeg');
    
}

.container{
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 9px;
    padding: 10px;
    margin: auto;
    height: 100vh;
    max-width: 1200px;
    
}
section{
    /* background-image: url('images/download.jpeg'); */
    background:#fff;
    border-radius: 10px;
}
.tool-board{
    flex-shrink: 0;
    width: 100%;
    padding: 15px 22ppx;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tool-board .row{
    margin-bottom:0px;
    flex: 1;
    min-width: 0px;
/* 200px */
}

.tisra{

    margin-left: 110px;
}

.row .options{
    list-style: none;
    margin:25px 0px 0 0px;
}


.fifth{
    position: relative;
    right: 30px;
}
.row .options .option{
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-bottom: 10px;
}
.option:is(:hover, .active) img {
    filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}


.option :where(span , label ){
    color: #5A6168;
    padding-left: 10px;
    cursor: pointer;
}
.dusra{
    margin-left: 150px;
}


.option:is(:hover, .active) :where(span , label )
/* Color yaha se chage kar skte ho hovering ka
 */
{
    color: #EFCB68;
} 
.fourth{
    position: relative;
    bottom: 10px;
}


.option #fill-color{
    cursor: pointer;
    height: 14px;
    width: 14px;
}

.row{
    padding:10px;

}


.alag{
    margin-top:25px;
    margin-left:50px;
}
#fill-color:checked ~ label{
    color: #EFCB68;
}

.option #size-slider{
    background-color: #5E5D5C;
    width: 100%;
    height: 5px;
    margin-top: 10px;}



    .colors .options{
        display: flex;
        justify-content: space-between;
    }
    .colors .option{
    height: 20px;
    width: 20px;  


    border-radius: 50%;
    margin-top: 3px;
    position: relative;
}
.sixth{
    margin-top: 10px;
}


.colors .option:nth-child(1){
    background-color: #fff;
    border: 1px solid #bfbfbf
}

.colors .option:nth-child(2){
    background-color: #000;
}

.colors .option:nth-child(3){
    background-color: #E02020;
}

.colors .option:nth-child(4){
    background-color: #6DD400;
}

.colors .option:nth-child(5){
    background-color: #4A98F7;
}


.colors .option.selected:before{
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    height: 12px;
    width: 12px;
}

.buttons button{
    width: 100%;
    color: #fff;
    border : none;
    outline: none ;
    padding: 11px;
    font-size: 0.9rem;
    margin-bottom: 13px;
    background:none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons .clear-canvas{
    color: #6C757D;
    border: 1px solid #6C757D;
    transition: all 0.3s ease;
}

.clear-canvas:hover{
    color: #fff;
background:#6C757D;
}

.buttons .save-img{
    background: #EFCB68;
    border: 1px solid #EFCB68;
}

.drawing-board{
    flex: 1;
    /* min-height: 500px; */
    position: relative;
    overflow: hidden;
    min-height: 0;

}

/*  */

#shape-select {
    width: 200px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Poppins', sans-serif;
}

#shape-select:focus {
    outline: none;
    border-color: black;
}

.drawing-board canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;         
}